<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EEFPrimer -->
      <package
            uri="http://www.misc.com/touse/eef/eefprimer/model/0.1"
            class="com.misc.touse.eef.eefprimer.EefPrimerPackage"
            genModel="model/EEFPrimer.genmodel"/>
   </extension>

</plugin>
