<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated EcpPrimer -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.ecp.ecpprimer.presentation.EcpPrimerModelWizardID"
            name="%_UI_EcpPrimerModelWizard_label"
            class="com.misc.touse.ecp.ecpprimer.presentation.EcpPrimerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EcpPrimerModelFile.gif">
         <description>%_UI_EcpPrimerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated EcpPrimer -->
      <editor
            id="com.misc.touse.ecp.ecpprimer.presentation.EcpPrimerEditorID"
            name="%_UI_EcpPrimerEditor_label"
            icon="icons/full/obj16/EcpPrimerModelFile.gif"
            extensions="ecpprimer"
            class="com.misc.touse.ecp.ecpprimer.presentation.EcpPrimerEditor"
            contributorClass="com.misc.touse.ecp.ecpprimer.presentation.EcpPrimerActionBarContributor">
      </editor>
   </extension>

</plugin>
