<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.sphinx.examples.explorer.views.modelExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.sphinx.examples.library.ide.ui.navigatorContent.extendedLibrary">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.sphinx.emf.explorer.BasicExplorerContentProvider"
            id="org.eclipse.sphinx.examples.library.ide.ui.navigatorContent.extendedLibrary"
            labelProvider="org.eclipse.sphinx.emf.explorer.BasicExplorerLabelProvider"
            name="Extended Library Content">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.sphinx.emf.isInScope"
                     value="true">
               </test>
               <test
                     property="org.eclipse.sphinx.emf.classNameMatches"
                     value="org\.eclipse\.emf\.examples\.extlibrary\..*">
               </test>
            </and>
         </triggerPoints>
         <dropAssistant
               class="org.eclipse.sphinx.emf.explorer.BasicDropAdapterAssistant"
               id="org.eclipse.sphinx.examples.library.ide.ui.navigatorContent.dropAssistant.extendedLibrary">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.sphinx.emf.editors.forms.BasicTransactionalFormEditor"
            contributorClass="org.eclipse.sphinx.emf.editors.forms.BasicTransactionalEditorActionBarContributor"
            default="false"
            extensions="Library, Writer, Book"
            id="org.eclipse.sphinx.examples.library.ide.ui.editors.extendedLibrary"
            name="Extended Library Example Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.examples.library.extendedLibrary">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sphinx.examples.library.ide.ui.editors.extendedLibrary"
            labelProvider="org.eclipse.sphinx.examples.common.ui.providers.AppearanceExampleTabbedPropertySheetTitleProvider">
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sphinx.examples.library.ide.ui.editors.extendedLibrary">
         <propertyTab
               category="advanced"
               id="org.eclipse.sphinx.examples.library.ide.ui.propertyTabs.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sphinx.examples.library.ide.ui.editors.extendedLibrary">
         <propertySection
               class="org.eclipse.sphinx.emf.ui.properties.BasicTransactionalAdvancedPropertySection"
               id="org.eclipse.sphinx.examples.library.ide.ui.propertySections.advanced"
               tab="org.eclipse.sphinx.examples.library.ide.ui.propertyTabs.advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
